

.card-container {
    margin: 3%;
    border: 2px solid black;
    border-radius: 8px;
    height: 90%;
    width: 20%; 
    padding: 0.5%;
}

.player-cards {
    display: flex;
    height: 35vh;
    position: absolute;
    bottom: 0;
    width: 97vw;
    justify-content: center;
    align-items: center;
}