
.mission-monster {
    width: 40vw;
    height: 55vh;
    border: solid 4px white;
    position: absolute;
    top: 8;
    right: 1;
}

.toggle {
    margin-right: auto;
    margin-left: auto;
    width: 10vw;
}